.swiper {
  width: 80%;
  height: auto;
}
@media screen and (min-width: 767px) {
  .swiper {
    width: 95%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 100%;
    height: auto;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background-color: #1e1b33; */
  border-radius: 12px;

  height: auto;
}
.swiper-slide-prev {
  border-radius: 12px;
}
.swiper-slide-active {
  border-radius: 12px;
}
.swiper-slide-next {
  border-radius: 12px;
}

.autoplay-progress {
  position: absolute;
  right: -4px;
  bottom: 1px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 24px;
  top: 29px;
  z-index: 10;
  width: 20px;
  height: 20px;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.progressContent {
  position: absolute;
  top: 33px;
  left: 30px;

  font-size: 10px;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -1px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  color: #666;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .swiper-button-prev {
    left: -4px;
  }
}

.swiper-button-prev:after {
  content: "prev";
  font-size: 20px;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: -1px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  color: #666;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .swiper-button-next {
    right: -4px;
  }
}

.swiper-button-next:after {
  content: "next";
  font-size: 20px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
