@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");

html,
body {
  font-family: "Outfit", sans-serif;
  background-color: rgb(15, 14, 14);

  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 76.5vh;
}

main {
  flex-grow: 1;
}
